#elemento{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: salmon;
}

#contenedor_vertical{
    display: flex;
    flex-direction: column;
    background-color: teal;
}

#contenedor_horizontal{
    display: flex;
    flex-direction: row;
    background-color: yellow;
}

.elem{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: salmon;
}

#elemento1{
flex-grow: 1;
}

#elemento2{
    flex-grow: 2;
}

#elemento3{
    flex-grow: 1;
}