body {
  background-color: cornflowerblue;
}

h1{
    text-align: center;
    background-color: darkgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
}

#Primer-Parrafo {
  background-color: crimson;
  max-width: 50%;
}

#Segundo-Parrafo {
  background-color: darkblue;
  opacity: 0.8;
}
#Tercer-Parrafo {
  background-color: darkgreen;
  background: rgba(196, 120, 120, 0.5)
}

#contenedor{
    height: 400px;
    width: 350px;

    background-image: url("https://miro.medium.com/max/3840/0*oZLL-N4dGNlBe4Oh.png");
    background-size: contain;
    background-repeat: no-repeat;
}
